div {
  border: 1px solid #00C6D8;
  width: 750px; }

h4 {
  border-top: 1px solid #00C6D8;
  border-bottom: 1px solid #00C6D8;
  margin-top: 0;
  padding: 20px;
  background-color: #00C6D8;
  color: white;
  margin-bottom: 0; }

h4:hover {
  background-color: #00DAEE; }

p {
  padding-left: 15px;
  height: 100px;
  transition: all 1s ease; }

.hidden {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 0 0 15px; }

.shown {
  overflow: hidden; }
